<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>299632604669-9eruvhrf4k1mdlcdn6lnv5mfq2nsvg4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299632604669-9eruvhrf4k1mdlcdn6lnv5mfq2nsvg4i</string>
	<key>API_KEY</key>
	<string>AIzaSyCk2ji33WucssXiukMVzkpOovUteJQZ9Vs</string>
	<key>GCM_SENDER_ID</key>
	<string>299632604669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryerson.fcad.fcadconnect</string>
	<key>PROJECT_ID</key>
	<string>fcad-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>fcad-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299632604669:ios:3fc1407f6f5a3e1a</string>
	<key>DATABASE_URL</key>
	<string>https://fcad-connect.firebaseio.com</string>
</dict>
</plist>