<ion-header>
  <ion-navbar>
    <ion-title>
      FCAD News
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list *ngIf="feed">
    <ion-item *ngFor="let item of feed" (click)="openArticle(item.nid, item.title)" text-wrap>
      <ion-thumbnail item-start>
        <img src="{{ item.image }}" class="img-fit-cover">
      </ion-thumbnail>
      <span class="item-info">{{ item.date_ago }} &bull; {{ item.author_name }}</span>
      <h2>{{ item.title }}</h2>
      <p><!-- {{ item.teaser }} --></p>
    </ion-item>
  </ion-list>

  <div *ngIf="!feed" class="content-loading">
    <ion-spinner></ion-spinner>
  </div>

</ion-content>
