<ion-header>
  <ion-navbar>
    <ion-title>
      FCAD News
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="feed">
    <ion-item *ngFor="let item of feed" text-wrap>
      <div (click)="openArticle(item.nid, item.title)" margin-bottom>
        <!--<ion-thumbnail item-end>
          <img src="{{ item.image }}" class="img-fit-cover">
        </ion-thumbnail>-->
        <img src="{{ item.image }}" class="img-fit-cover">
        <span class="item-info">{{ item.date_ago }} &bull; {{ item.author_name }}</span>
        <h2>{{ item.title }}</h2>
        <p>{{ item.teaser }}</p>
      </div>
      <ion-buttons text-right> 
        <button ion-button icon-left clear small>
          <ion-icon name="bookmark"></ion-icon>
          <div>Bookmark</div>
        </button>
        <button ion-button icon-left clear small (click)="socialShare(item.title, item.url)">
          <ion-icon name="share"></ion-icon>
          <div>Share</div>
        </button>
      </ion-buttons>
      
    </ion-item>
  </ion-list>

  <div *ngIf="!feed" class="content-loading">
    <ion-spinner></ion-spinner>
  </div>

</ion-content>
